.container {
  width: 100vw;
  height: 100vh;

  li,
  .content {
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: inherit;
    flex: 1;
    position: fixed;
    transition-duration: 1s;
    transition-property: left;
  }
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  .btn {
    cursor: pointer;
  }
}
