.ul {
  width: initial;
  height: inherit;
  padding: 1vw 3vw;
  box-sizing: border-box;
  overflow-y: auto;

  li {
    cursor: pointer;
    width: fit-content;
    line-height: 1.5;
    position: static;
    width: initial;
    height: initial;
    position: static !important;
    text-align: left !important;
    &:hover {
      cursor: pointer;
      animation: shining 0.5s alternate infinite;
    }
  }
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 6vw);
  height: calc(100vh - 6vw);
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #050505;
}
@keyframes shining {
  from {
    text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 10px lightblue,
      0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
  }
  to {
    text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue,
      0 0 20px skyblue, 0 0 25px skyblue, 0 0 10px skyblue;
  }
}
