.ul {
  width: inherit;
  height: inherit;
  padding: 1vw 3vw;
  box-sizing: border-box;
  overflow-y: auto;

  li {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    line-height: 1.5;
    position: static;
  }
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 6vw);
  height: calc(100vh - 6vw);
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
